
<html>
<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.27/sweetalert2.min.css" integrity="sha512-IScV5kvJo+TIPbxENerxZcEpu9VrLUGh1qYWv6Z9aylhxWE4k4Fch3CHl0IYYmN+jrnWQBPlpoTVoWfSMakoKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />





    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">




    <style>
        ::placeholder {
            color: #999;
            font-style: italic;
            font-size: 14px;
        }

        label.required:after {
            content: "*\00a0";
            color: red;
            margin-left: 2px;
        }
    </style>

</head>
<body class="d-flex flex-column min-vh-100">

    <header class="p-3 text" style=" background-color:#754A28">
        <div class="container">
            <h1 style="text-align:center">
                <a style="text-align:center" href="/" class="d-flex align-items-center mb-2  text-white text-decoration-none fw-bold">
                    FIRSTSHOP
                </a>
            </h1>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-5">

                    <li><a href="/" class="nav-link px-2 text-white "> <i class="fas fa-home"></i> Ana Sayfa</a></li>
                    @if (User.IsLogged())
                    {

                        <li><a asp-controller="Order" asp-action="List" class="nav-link px-2 text-white">Siparişler</a></li>
                        <li>
                            <a asp-controller="Like" asp-action="List" class="nav-link px-2 text-white">
                                Favoriler
                            </a>
                        </li>
                        <li>
                            <a asp-controller="CartItem" asp-action="List" class="nav-link px-2 text-white">
                                <i style="font-size:17px" class="fas fa-shopping-cart fa-3x"></i> Sepet
                            </a>
                        </li>

                    }
                </ul>

                <div class="d-none" id="Login">
                    <partial name="_LoginPartial" model="new LoginViewModel()" />

                </div>


                @if (!User.IsLogged())
                {
                    <div id="Welcome">
                        <partial name="_WelcomePartial" />
                    </div>


                }
                else
                {


                    var firstName = User.GetUserFirstName();
                    var lastName = User.GetUserLastName();

                    <div style="margin-left:8px">
                        <a asp-controller="Account" asp-action="Index" class="ms-3"><i class="fas fa-user" style="color:white;font-size:24px"> </i> </a>
                    </div>
                    <div class="ms-1"style="color:white">
                        @firstName @lastName

                    </div>





                    @if (User.IsAdmin())
                    {

                        <div class="ms-3">

                            <a style="color:white" asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="btn "> <i style="font-size:17px" class="fas fa-cog"></i>  Yönetim Paneli</a>

                        </div>

                    }





                    <div>
                        <a style="color:white" asp-controller="Auth" asp-action="Logout" class="btn btn-outline-danger ms-3 border-0">Çıkış </a>
                    </div>
                }



            </div>
        </div>
    </header>

    @await Component.InvokeAsync("Categories")
    <div class="row ">
        
            
   
        <div class="container mb-5 col-10 mt-5 ">


            @RenderBody()
        </div>
    </div>

  


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.27/sweetalert2.min.js" integrity="sha512-mJQ9oQHzLM2zXe1cwiHmnMddNrmjv1YlaKZe1rM4J7q8JTnNn9UgeJVBV9jyV/lVGdXymVx6odhgwNZjQD8AqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js" integrity="sha512-Ixzuzfxv1EqafeQlTCufWfaC6ful6WFqIz4G+dWvK0beHw0NVJwvCKSgafpy5gwNqKmgUfIBraVwkKI+Cz0SEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required:false)

    <script>

        $('#btnGirisYap').click(function () {
            $('#Welcome').addClass('d-none')
            $('#Login').removeClass('d-none')

        })

        $('#btnIptal').click(function () {
            $('#Welcome').removeClass('d-none')
            $('#Login').addClass('d-none')

        })

    </script>


</body>

</html> 