<div class="text-end">
    <button id="btnGirisYap" type="button" style="border: none; color:white" class="btn"><i class="fas fa-user" style="color:white;font-size:24px"> </i>Giriş </button>
    <a asp-controller="Auth" asp-action="Register" style="border: none; color:white" class="btn">  Kayıt Ol</a>
</div>