@model CommentViewModel

<form method="post" asp-controller="Comment" asp-action="Add">

    <input asp-for="ProductId" type="hidden" />

    <div class="card">
        <label asp-for="Comment">
        </label>

        <label asp-for="ProductId"></label>
        <input class="form-control" asp-for="Comment" />
    </div>

    <button class="btn btn-primary" type="submit">YORUMU GÖNDER</button>


</form>
