
<h1 style="margin-bottom:40px">MyAccount</h1>


<div style="font-size:30px;margin-bottom:15px">
    <a class="btn" asp-controller="Account" asp-action="Profile" ><i class="fas fa-user">Profile Info </i> </a>

</div>

<div style="font-size:30px;margin-bottom:15px;">

    <a asp-controller="Account" asp-action="AddressInfo" class="btn"><i class="fas fa-map-marker-alt">Address Info</i></a>


</div>
<div style="font-size:30px;margin-bottom:15px ">

    <a asp-controller="Account" asp-action="PaymentInfo" class="btn"><i class="fas fa-credit-card"> Payment Info</i>   </a>

</div>








 
   

 





